# ==========================================
# Archivos de compilación de Java y Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.nar
*.log

# ==========================================
# Entornos de Desarrollo (IDEs)
# ==========================================
# Eclipse
.project
.classpath
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.workspace

# VS Code
.vscode/

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# ⚠️ SEGURIDAD Y BASES DE DATOS ⚠️
# ==========================================
# IGNORAR LA CARPETA DE LA WALLET DE ORACLE
# (Ajusten el nombre si la carpeta se llama distinto)
Wallet_*/
w_proyecto/
*.zip

# Archivos de variables de entorno locales
.env
.env.local